<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992493460329-q6mhpjcmrtr2rloi9cqclujbj3diklrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992493460329-q6mhpjcmrtr2rloi9cqclujbj3diklrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBMkcrq5mwlY_ECtyYAwvfqZEGgb4jesIY</string>
	<key>GCM_SENDER_ID</key>
	<string>992493460329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutter17</string>
	<key>PROJECT_ID</key>
	<string>flutter17-377b1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter17-377b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992493460329:ios:ee8d7d637eda4561f27bf8</string>
</dict>
</plist>